.btn-input + label {
  width:100px;
  height:40px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 40px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}

.btn-input + label:after {
  content: "";
  width:36px;
  height: 36px;
  position: absolute;
  top:2px;
  left:2px;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 36px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.btn-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.btn-input:checked + label {
  background: #242424;
}
.btn-input:checked + label:after {
  left:98px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}
.btn-input + label, .btn-input + label:after {
  transition: 0.3s
}

.btn-input + label:active:after {
  width: 52px;
}

.btn-input + label > svg {
  position: absolute;
  width: 24px;
  top: 8px;
  z-index: 100;
}

.sun {
  left:8px;
  fill:#fff;
  transition: 0.3s;
}

.moon {
  left:68px;
  fill:#7e7e7e;
  transition: 0.3s;
}

.btn-input:checked + label > svg.sun {
  fill:#7e7e7e;
}

.btn-input:checked + label > svg.moon {
  fill:#fff;
}
