.tag {
  display: inline-flex;
  align-items: center;
  border-radius: 999px;
  background: var(--tag-bg);
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
}

.tag img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.tag:hover, .tag:focus, .tag:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
